{% extends 'layouts/sidebar.html' %}
{% load store_tags %}

{% block title %}{{ category.get_title }} | {{ block.super }}{% endblock %}
{% block description %}{{ category.seo_description }}{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'store:index' %}">Каталог</a></li>
<li><a href="{% url 'store:category' category.slug %}">{{ category.name }}</a></li>
{% endblock %}

{% block content %}
    <div class="uk-margin-top">
        <product-list category="{{ category.id }}"></product-list>
        <div class="uk-card uk-card-body uk-card-default uk-box-shadow-medium uk-border-rounded">
          <h1 class="b-page__title uk-h2 uk-text-bold">{{ category.name }}</h1>
            {{ category.seo_description }}
        </div>
    </div>
    <div id="b-offcanvas__catalog" uk-offcanvas="flip: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3>{{ category.get_title }}</h3>
            {% store_menu %}
        </div>
    </div>
    <div class="b-flymenu uk-hidden@m">
        <div>
            <div class="b-flymenu__title">{{ category.name }}</div>
        </div>
        <div>
            <a href="#b-offcanvas__catalog" uk-toggle class="b-flymenu__button">
                <span uk-icon="icon: grid"></span>
            </a>
        </div>
    </div>
{% endblock %}