{% extends 'layouts/sidebar.html' %}

{% block title %}{{ category.get_title }} | {{ block.super }}{% endblock %}
{% block description %}{{ category.seo_description }}{% endblock %}

{% block sidebar %}
    <store-menu id="{{ category.id }}"></store-menu>
{% endblock %}
{% block content %}
    <div class="uk-margin-top">
        <h1 class="b-page__title uk-h2 uk-text-bold">{{ category.name }}</h1>
        <product-list category="{{ category.id }}"></product-list>
    </div>
    <div id="b-offcanvas__catalog" uk-offcanvas="flip: true; overlay: true; mode: push">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3>Каталог</h3>
            <store-menu id="{{ category.id }}"></store-menu>
        </div>
    </div>
    <div class="b-flymenu">
        <div>
            <div class="b-flymenu__title">{{ category.name }}</div>
        </div>
        <div>
            <a href="#b-offcanvas__catalog" uk-toggle class="b-flymenu__button">
                <span uk-icon="icon: grid"></span>
            </a>
        </div>
    </div>
{% endblock %}