{% extends 'base.html' %}

{% block title %}Вы успешно оформили заказ!{% endblock %}
{% block description %}Оформление заказа{% endblock %}

{% block content %}
    <div class="b-cart uk-container uk-margin-top">
        <h1 class="b-page__title uk-h2 uk-text-bold">}Вы успешно оформили заказ!</h1>
        <div class="uk-flex uk-flex-middle uk-flex-center">
            <div>
                <span class="uk-icon-button uk-button-primary" uk-icon="icon: check; ratio: 5"></span>
            </div>
        </div>
    </div>
{% endblock %}