{% extends 'layouts/sidebar.html' %}
{% load sitetree %}

{% block title %}{% sitetree_page_title from "main_menu" %} | {{ block.super }}{% endblock %}
{% block description %}{% sitetree_page_description from "main_menu" %}{% endblock %}

{% block sidebar %}
    <store-menu></store-menu>
{% endblock %}
{% block content %}
    <div class="uk-margin-top">
        <h1 class="b-page__title uk-h2 uk-text-bold">{% sitetree_page_title from "main_menu" %}</h1>
        <product-list></product-list>
    </div>
{% endblock %}