{% extends 'base.html' %}
{% load solo_tags %}
{% load sitetree %}

{% block title %}
    {% get_solo 'core.Config' as site_config %}
    {{ site_config.name }}
{% endblock %}

{% block content %}
    {% get_solo 'core.Config' as site_config %}
    <div class="uk-container">
        <div class="uk-flex uk-flex-wrap uk-child-width-1-2@m uk-margin-top uk-grid-small">
            <div class="uk-margin-bottom">
                <div class="uk-card uk-card-body uk-card-small uk-card-primary" style="min-height: 350px"></div>
            </div>
            <div>
                <div class="uk-flex uk-flex-wrap uk-child-width-1-2 uk-grid-small">
                    <div class="uk-margin-bottom">
                        <div class="uk-card uk-card-body uk-card-small uk-card-secondary"
                             style="min-height: 164px"></div>
                    </div>
                    <div class="uk-margin-bottom">
                        <div class="uk-card uk-card-body uk-card-small uk-card-secondary"
                             style="min-height: 164px"></div>
                    </div>
                    <div class="uk-margin-bottom">
                        <div class="uk-card uk-card-body uk-card-small uk-card-secondary"
                             style="min-height: 164px"></div>
                    </div>
                    <div class="uk-margin-bottom">
                        <div class="uk-card uk-card-body uk-card-small uk-card-secondary"
                             style="min-height: 164px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="b-section__lead uk-padding-small uk-margin-bottom">
        <div class="uk-container">
            <div class="uk-card uk-card-body uk-card-small">
                <h1 class="uk-h2 uk-text-bold">{% sitetree_page_hint from "main_menu" %}</h1>
                {% filter linebreaksbr %}
                    {% sitetree_page_description from "main_menu" %}
                {% endfilter %}
            </div>
        </div>
    </section>
    <section class="b-section__works uk-padding-small uk-margin-bottom">
        <div class="uk-container">
            <h3 class="uk-text-bold">{{ site_config.gallery.name }}</h3>
            <div uk-slider>
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-5@m uk-grid-small  uk-grid-match"
                        uk-height-viewport="offset-top: true; offset-bottom: 75" uk-lightbox="animation: slide">
                        {% for photo in site_config.gallery.photos.all %}
                            <li>
                                <div class="uk-cover-container">
                                    <a href="{{ photo.image.url }}" data-caption="{{ photo.caption }}">
                                        <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" uk-cover>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                       uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                       uk-slider-item="next"></a>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>
    </section>
    <section class="b-section__products uk-padding-small uk-margin-bottom">
        <div class="uk-container">
            <h3 class="uk-text-bold">Интересные предложения</h3>
            <div class="uk-flex uk-flex-wrap uk-child-width-1-5@m uk-grid-small">
                <div class="uk-margin-bottom">
                    <div style="min-height: 220px; background: #aaa"></div>
                </div>
                <div class="uk-margin-bottom">
                    <div style="min-height: 220px; background: #aaa"></div>
                </div>
                <div class="uk-margin-bottom">
                    <div style="min-height: 220px; background: #aaa"></div>
                </div>
                <div class="uk-margin-bottom">
                    <div style="min-height: 220px; background: #aaa"></div>
                </div>
                <div class="uk-margin-bottom">
                    <div style="min-height: 220px; background: #aaa"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}