{% extends 'base.html' %}

{% load sitetree %}
{% load static %}

{% block title %}{{ site_config.seo_title }}{% endblock %}
{% block description %}{{ site_config.seo_description }}{% endblock %}

{% block content %}
  <div class="uk-container">
    <div class="uk-flex uk-flex-wrap uk-margin-top uk-grid-small">
      <div class="uk-margin-bottom uk-width-2-3@m">
        <div class="uk-cover-container uk-border-rounded uk-box-shadow-medium" style="min-height: 450px">
          <img src="{% static 'core/slide.png' %}" alt="" uk-cover>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div class="uk-flex uk-flex-wrap uk-child-width-1-1 uk-grid-small">
          <div class="uk-margin-bottom">
            <div class="uk-card uk-card-body uk-box-shadow-medium uk-card-small uk-card-secondary uk-border-rounded"
                 style="min-height: 215px"></div>
          </div>
          <div class="uk-margin-bottom">
            <div class="uk-card uk-card-body uk-box-shadow-medium uk-card-small uk-card-secondary uk-border-rounded"
                 style="min-height: 215px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="b-section__lead uk-padding-small uk-padding-remove-horizontal uk-margin">
    <div class="uk-container">
      <div class="uk-card uk-card-body uk-card-small">
        <h1 class="uk-h2 uk-text-center uk-text-bold">{{ site_config.title }}</h1>
        <div class="uk-text-center">{{ site_config.content | safe }}</div>
      </div>
    </div>
  </section>
  <section class="b-section__works uk-padding-small uk-padding-remove-horizontal uk-margin-bottom">
    <div class="uk-container">
      <h3 class="uk-text-bold">{{ site_config.gallery.name }}</h3>
      <div uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
          <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-5@m uk-grid-small  uk-grid-match"
              uk-height-viewport="min-height: 250; expand: true" uk-lightbox="animation: slide">
            {% for photo in site_config.gallery.photos.all %}
              <li>
                <div class="uk-cover-container">
                  <a href="{{ photo.image.url }}" data-caption="{{ photo.caption }}">
                    <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" uk-cover>
                  </a>
                </div>
              </li>
            {% endfor %}
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
             uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
             uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </section>
  <section class="b-section__categories uk-padding-small uk-padding-remove-horizontal uk-margin-bottom">
    <div class="uk-container">
      <h3 class="uk-text-bold">Каталог товаров</h3>
      <div class="uk-flex uk-flex-wrap uk-grid-small">
        <div class="uk-width-1-4@m">
          <div class="uk-card uk-card-body uk-margin-bottom uk-card-small uk-card-default">
            {% for category in categories %}
              <div class="uk-margin-small-bottom">
                <a href="{% url 'store:category' category.slug %}"
                   class="b-category__button"
                   title="{{ category.name }}"
                >
                  {{ category.name }}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="uk-width-3-4@m">
          <div class="uk-flex uk-flex-wrap uk-child-width-1-4@m uk-child-width-1-2 uk-grid-small">
            {% for product in products %}
              <div class="uk-margin-bottom">
                <div class="b-product__card uk-border-rounded">
                  <a href="{{ product.get_absolute_url }}">
                    <div class="b-product__image">
                      <img src="{{ product.get_medium_img }}" alt="{{ product.name }}">
                    </div>
                    <div class="b-product__info uk-padding-small">
                      <div class="b-product__price uk-margin-small">
                        {{ product.price }} <small>₽</small>
                      </div>
                      <div class="b-product__name uk-margin-small">
                        {{ product.name }}
                      </div>

                    </div>
                  </a>
                  <buy-button :id="{{ product.id }}"></buy-button>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="b-section__products uk-padding-small uk-padding-remove-horizontal uk-margin-bottom">
  </section>
{% endblock %}