@import "theme/variables";
@import "~uikit/src/scss/variables.scss";
@import "~uikit/src/scss/mixins.scss";
// 3. Your custom mixin overwrites.
//@import "theme/accordion-mixins.scss";
@import "~uikit/src/scss/uikit.scss";

#b-app {
  height: 100%;
  min-height: 100vh;
  background: $app-background;
}

.b-header {
  background: white;
  z-index: 980;
}

.b-layout {
  min-height: 70vh;
}

.b-sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  overflow: scroll;
}

.b-content {
  box-sizing: border-box;
  height: 100%;
  padding-left: 320px;
  overflow: auto;
  @media (max-width: 959px) {
    padding-left: 0;
  }
}

.b-storemenu {
  li {
    border-bottom: 1px solid rgb(192, 138, 94);
    background: white;
    transition: background-color .1s ease-out;

    a {
      color: #683716;
    }

    &.active {
      background: #683716;

      a {
        color: white;
      }
    }

    &:hover {
      background: #683716;
      color: white;

      a {
        color: white;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    a {
      padding: 10px 15px;
      display: flex;

      .b-counter {
        border: 1px solid;
        box-sizing: border-box;
        font-size: small;
        min-width: 30px;
        text-align: center;
        border-radius: 3px;
      }
    }
  }
}

.b-product__card {
  background-color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .b-product__info {
  }

  .b-product__image {
    width: 100%;
  }

  .b-product__price {
    font-size: 18px;
    font-weight: 700;
    color: #000;

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }

  .b-product__name {
    color: #222;
    font-size: 14px;
    line-height: 18px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 54px;
    min-height: 54px;
    @media screen and (max-width: 600px) {
      font-size: 11px;
    }
  }
}

.b-section__lead {
  background-color: #491b03;
  background: linear-gradient(#7c482b, #491b03);
  color: wheat;
  position: relative;

  h1 {
    color: wheat;
  }

  &::before {
    content: ' ';
    background-image: url("../img/waves-top.svg");
    background-repeat: repeat-x;
    background-position: top;
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 100%;
  }

  &::after {
    content: ' ';
    background-image: url("../img/waves-bottom.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 18px;
    width: 100%;
  }

}

.b-footer {
  position: relative;
  background-color: #15151b;
  background: linear-gradient(#1e71b8, #1c4687);

  &::before {
    content: ' ';
    background-image: url("../img/waves-top.svg");
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 100%;
  }
}

.b-category__button {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  display: block;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

}

#b-offcanvas__catalog {
  .uk-offcanvas-bar {
    background: #e2ebf7;
    color: #683716;
    width: 315px;

    h3 {
      color: #683716;
    }

    .uk-close {
      color: #683716;
    }
  }
}

.b-flymenu {
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  width: 100%;

  .b-flymenu__title {
    background: white;
    padding: 5px 10px;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    bottom: 10px;
    right: 50px;
    border: 1px solid;
  }

  .b-flymenu__button {
    line-height: 20px;
    display: block;
    width: 20px;
    padding: 10px;
    position: absolute;
    bottom: 6px;
    right: 10px;
    background: white;
    border: 1px solid;
    border-radius: 5px;
  }
}