$navbar-nav-item-height: 50px;
$navbar-nav-item-color: #232323;
$navbar-nav-item-hover-color: #683716;
$navbar-nav-item-active-color: #683716;
$app-background: #e7eaf7;
$global-color: #232323;
$global-link-color: #683716;
$global-link-hover-color: #472313;
$button-primary-background: #683716;
$card-default-background: white;
$button-secondary-background: #1e71b8;
$button-secondary-hover-background: #1c4687;